:root[data-theme="light"] {
  --text: #12020e;
  --background: #fdedf8;
  --primary: #e236a6;
  --secondary: #ed82a0;
  --accent: #e75a68;
}


body[data-theme="light"] {
    @import '../light-slider.scss';
 
    .slider-tab {
       background-color: var(--background);
    }
}